@import "tailwindcss";

@theme {
  --color-light-bg: #f9fafb;
  --color-dark-bg: #111827;
  --color-light-text: #000000;
  --color-dark-text: #ffffff;
}

.light {
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
}

.dark {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}
